.unauth {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    &__title {
        font-size: 46px;
        margin-bottom: 40px;
        text-align: center;
    }
    &__link {
        color: white;
        transition: all .3s;
        margin-top: 20px;
        background: #EED094;
        padding: 15px 30px;    
        border-radius: 50px;    
        margin: 0 10px;
        &:hover {
            text-decoration: none;
            background: $submitColor;
        }
    }
}